.carusela-wrapper {
  .carusela {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .carusela-btns {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

#listContainer {
  .row {
    .col,
    .col-3,
    .col-1 {
      img {
        width: 40%;
        border-radius: 25px;
        // height: 100%;
      }
    }
  }
  .border-row {
    border: solid #d0d3d6 0.1rem;
    border-radius: 25px;
  }
}
